.text-field{
    -fx-background-radius: 30; /* Bo tròn góc với bán kính 10px */
    -fx-border-radius: 30;    /* Bo tròn đường viền để khớp */
    -fx-background-color: white; /* Màu nền */
    -fx-border-color: transparent; /* Loại bỏ viền dư */

}

.button {
    -fx-background-radius: 15;
    -fx-background-color: #00A4EF;
    -fx-text-fill: white;
    -fx-padding: 5 10;
}
.form-container {
    -fx-background-radius: 15; /* Bo tròn các góc với bán kính 15px */
    -fx-background-color: white; /* Màu nền của form */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 15, 0, 0, 0); /* Tạo bóng màu xám mờ */
    -fx-padding: 20; /* Thêm khoảng cách bên trong form */
    -fx-border-radius: 15; /* Làm viền bo tròn để khớp */
}
.tab-pane {
    -fx-background-color: #f0f0f0;
}

.tab-header-background {
    -fx-background-color: #d0d0d0;
}

.tab:selected {
    -fx-background-color: #00A4EF;
}

.tab-label {
    -fx-text-fill: #333333;
}
/* Thay đổi font chữ và kích thước */
.date-picker {
    -fx-font-size: 10px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;


    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0), 0, 0, 0, 0);
}

/* Tùy chỉnh nút mũi tên */
.date-picker .arrow-button {
    -fx-background-color: #00A4EF;
    -fx-border-radius: 20px;
    -fx-background-radius: 0 20 20 0;
}

/* Tùy chỉnh popup ngày tháng */
.date-picker-popup {
    -fx-border-color: #4caf50;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;

}

.inforForm{
    -fx-background-radius: 30;
    -fx-background-color: #ff4040;
}