.text-field{
    -fx-background-radius: 30; /* Bo tròn góc với bán kính 10px */
    -fx-border-radius: 30;    /* Bo tròn đường viền để khớp */
    -fx-background-color: white; /* Màu nền */
    -fx-border-color: transparent; /* Loại bỏ viền dư */

}

.button {
    -fx-background-radius: 15;
    -fx-background-color: #00A4EF;
    -fx-text-fill: white;
    -fx-padding: 5 10;
}
.form-container {
    -fx-background-radius: 15; /* Bo tròn các góc với bán kính 15px */
    -fx-background-color: white; /* Màu nền của form */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 15, 0, 0, 0); /* Tạo bóng màu xám mờ */
    -fx-padding: 20; /* Thêm khoảng cách bên trong form */
    -fx-border-radius: 15; /* Làm viền bo tròn để khớp */s
}
.tab-pane {
    -fx-background-color: #f0f0f0;
}

.tab-header-background {
    -fx-background-color: #d0d0d0;
}

.tab:selected {
    -fx-background-color: #00A4EF;
}

.tab-label {
    -fx-text-fill: #333333;
}
/* Thay đổi font chữ và kích thước */
.date-picker {
    -fx-font-size: 10px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;


    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0), 0, 0, 0, 0);
}

/* Tùy chỉnh nút mũi tên */
.date-picker .arrow-button {
    -fx-background-color: #00A4EF;
    -fx-border-radius: 20px;
    -fx-background-radius: 0 20 20 0;
}

/* Tùy chỉnh popup ngày tháng */
.date-picker-popup {
    -fx-border-color: #4caf50;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;

}

.inforForm{
    -fx-background-radius: 30;
    -fx-background-color: #ff4040;
}

/* Tùy chỉnh TableView */
.table-view {
    -fx-background-color: #00A4EF; /* Màu nền */
    -fx-border-color: #00A4EF; /* Viền */
}

/* Tùy chỉnh Header của TableView */
.table-view .column-header-background {
    -fx-background-color: #00A4EF; /* Màu nền tiêu đề */
    -fx-border-color: #388e3c; /* Màu viền tiêu đề */
    -fx-border-width: 0px;
    -fx-border-insets: 0; /* Loại bỏ khoảng cách của viền nếu có */
    -fx-background-insets: 0; /* Loại bỏ khoảng cách giữa các tiêu đề */
    -fx-border-insets: 0; /* Loại bỏ khoảng cách của viền nếu có */


}

.table-view .column-header {
    -fx-background-color: transparent; /* Màu viền giữa các cột */
}

.table-view .column-header .label {
    -fx-text-fill: white; /* Màu chữ */
    -fx-font-size: 14px; /* Kích thước chữ */
    -fx-background-color: #00A4EF;
    -fx-padding: 5px;

}

/* Tùy chỉnh hàng (rows) của TableView */
.table-row-cell {
    -fx-background-color: #ffffff; /* Màu nền hàng */
    -fx-border-color: #e0e0e0; /* Viền giữa các hàng */
}

.table-row-cell:filled:selected {
    -fx-background-color: #dcedc8; /* Màu khi hàng được chọn */
}

#delete-button {
    -fx-pref-width: 98px;
    -fx-pref-height: 70px;
}

#update-button {
    -fx-pref-width: 98px;
    -fx-pref-height: 70px;
}